@model BuzonDeSugerencias.Models.Solicitud

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniqueId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniqueId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PadreNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PadreNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MayoriaDeEdad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MayoriaDeEdad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BienContratado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BienContratado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDelBienContratado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDelBienContratado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeInforme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeInforme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Respuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Respuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeRespuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeRespuesta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
